@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveX1 {
  0% {
    transform: translate(1180px);
  }

  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(1180px);
  }
}

@keyframes moveX2 {
  0% {
    transform: translate(50px);
  }

  50% {
    transform: translateX(1180px);
  }
  100% {
    transform: translateX(50px);
  }
}




@keyframes moveX3 {
  0% {
    transform: translateX(-0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveY1 {
  0% {
    transform: translateY(-0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveY2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon-move1 {
  animation: moveX1 20s infinite;
}
.icon-move2 {
  animation: moveX2 20s infinite;
}

.icon-move3 {
  animation: moveX3 2s infinite;
}
.icon-move4 {
  animation: moveY1 2s infinite;
}

.icon-move5 {
  animation: moveY2 2s infinite;
}

.wave-hand {
  display: inline-block;
  animation: wave 1s infinite;
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}

.text-header {
  font-size: large;
}
.text-biography {
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}
