@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveX1 {
  0% {
    transform: translate(55px);
  }

  50% {
    transform: translate(1180px);
  }

  100% {
    transform: translate(55px);
  }
}


@keyframes moveX2 {
  0% {
    transform: translate(50px);
  }

  50% {
    transform: translateX(1180px);
  }
  100% {
    transform: translateX(50px);
  }
}


@keyframes moveX3 {
  0% {
    transform: translate(270px, 30px);
  }

  50% {
    transform: translate(40px, 30px);
  }

  100% {
    transform: translate(270px, 30px);
  }
}

@keyframes moveX4 {
  0% {
    transform: translate(40px, 90px);
  }

  50% {
    transform: translate(270px, 90px);
  }

  100% {
    transform: translate(40px, 90px);
  }
}


@keyframes moveY1 {
  0% {
    transform: translate(350px, 100px);
  }

  50% {
    transform: translate(350px, 10px);
  }

  100% {
    transform: translate(350px, 100px);
  }
}


@keyframes moveY2 {
  0% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(10px, 100px);
  }
  100% {
    transform: translate(10px, 10px);
  }
}

@keyframes moveY3 {
  0% {
    transform: translate(40px, 50px);
  }
  50% {
    transform: translate(40px, -10px);
  }
  100% {
    transform: translate(40px, 50px);
  }
}

@keyframes moveY4 {
  0% {
    transform: translate(270px, -10px);
  }
  50% {
    transform: translate(270px, 50px);
  }
  100% {
    transform: translate(270px, -10px);
  }
}



.icon-moveX1 {
  animation: moveX1 20s infinite; 
}
.icon-moveX2 {
  animation: moveX2 20s infinite;
}

.icon-moveX3 {
  animation: moveX3 20s infinite;
}
.icon-moveX4 {
  animation: moveX4 20s infinite;
}

.icon-moveY1 {
  animation: moveY1 5s infinite;
}
.icon-moveY2 {
  animation: moveY2 5s infinite;
}

.icon-moveY3 {
  animation: moveY3 5s infinite;
}

.icon-moveY4 {
  animation: moveY4 5s infinite;
}

.wave-hand {
  display: inline-block;
  animation: wave 1s infinite;
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}

.text-header {
  font-size: large;
}
.text-biography {
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}


@media (max-width: 768px) {

  @keyframes moveX1 {
    0% {
      transform: translate(55px);
    }
  
    50% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(55px);
    }
  }
  

  @keyframes moveX2 {
    0% {
      transform: translate(300px);
    }
    50% {
      transform: translate(55px);
    }
    100% {
      transform: translate(300px);
    }
  }

  .icon-moveX1 {
    /* display:none */
    animation: moveX1 20s infinite;
  }
  .icon-moveX2 {
    animation: moveX2 20s infinite;
  }
  
  .icon-moveX3 {
    animation: moveX3 20s infinite;
  }
  .icon-moveX4 {
    display:none;
    /* animation: moveX4 20s infinite; */
  }
  
  .icon-moveY1 {
    animation: moveY1 20s infinite;
  }
  .icon-moveY2 {
    animation: moveY2 20s infinite;
  }
  
  .icon-moveY3 {
    display:none;
    /* animation: moveY3 5s infinite; */
  }
  
  .icon-moveY4 {
    display: none;
    /* animation: moveY4 5s infinite; */
  }

}

@media (max-width: 995px) {

  .cache{
    padding: 4px;
  }

}

