@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveX1 {
  0% {
    transform: translate(55px);
  }

  50% {
    transform: translate(1180px);
  }

  100% {
    transform: translate(55px);
  }
}

@keyframes moveX2 {
  0% {
    transform: translate(1180px);
  }

  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(1180px);
  }
}

@keyframes moveX3 {
  0% {
    transform: translate(970px, 20px);
  }

  50% {
    transform: translate(400px, 20px);
  }

  100% {
    transform: translate(970px, 20px);
  }
}

@keyframes moveX4 {
  0% {
    transform: translate(800px, 130px);
  }

  50% {
    transform: translate(200px, 130px);
  }

  100% {
    transform: translate(800px, 130px);
  }
}

@keyframes moveX5 {
  0% {
    transform: translate(350px, 0px);
  }

  50% {
    transform: translate(1100px, 0px);
  }

  100% {
    transform: translate(350px, 0px);
  }
}

@keyframes moveX6 {
  0% {
    transform: translate(40px, 110px);
  }

  50% {
    transform: translate(270px, 110px);
  }

  100% {
    transform: translate(40px, 110px);
  }
}

@keyframes moveY1 {
  0% {
    transform: translate(260px, 100px);
  }

  50% {
    transform: translate(260px, 10px);
  }

  100% {
    transform: translate(260px, 100px);
  }
}

@keyframes moveY2 {
  0% {
    transform: translate(60px, 10px);
  }
  50% {
    transform: translate(60px, 100px);
  }
  100% {
    transform: translate(60px, 10px);
  }
}

@keyframes moveY3 {
  0% {
    transform: translate(70px, 100px);
  }
  50% {
    transform: translate(70px, 10px);
  }
  100% {
    transform: translate(70px, 100px);
  }
}

@keyframes moveY4 {
  0% {
    transform: translate(270px, 0px);
  }
  50% {
    transform: translate(270px, 100px);
  }
  100% {
    transform: translate(270px, 0px);
  }
}

.icon-moveX1 {
  animation: moveX1 40s infinite;
}
.icon-moveX2 {
  animation: moveX2 40s infinite;
}

.icon-moveX3 {
  animation: moveX3 30s infinite;
}
.icon-moveX4 {
  animation: moveX4 30s infinite;
}

.icon-moveX5 {
  animation: moveX5 30s infinite;
}
.icon-moveX6 {
  display: none;
  /* animation: moveX6 20s infinite; */
}

.icon-moveY1 {
  animation: moveY1 15s infinite;
}
.icon-moveY2 {
  animation: moveY2 15s infinite;
}

.icon-moveY3 {
  animation: moveY3 15s infinite;
}

.icon-moveY4 {
  animation: moveY4 15s infinite;
}

.wave-hand {
  display: inline-block;
  animation: wave 1s infinite;
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}

.text-header {
  font-size: large;
}
.text-biography {
  font-family: "sans-serif", sans-serif;
  font-size: larger;
}

@media (max-width: 768px) {

  @keyframes moveY1 {
    0% {
      transform: translate(380px, 100px);
    }
  
    50% {
      transform: translate(380px, 10px);
    }
  
    100% {
      transform: translate(380px, 100px);
    }
  }
  @keyframes moveX1 {
    0% {
      transform: translate(55px);
    }

    50% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(55px);
    }
  }

  @keyframes moveX2 {
    0% {
      transform: translate(300px);
    }
    50% {
      transform: translate(55px);
    }
    100% {
      transform: translate(300px);
    }
  }

  @keyframes moveX3 {
    0% {
      transform: translate(270px, 20px);
    }

    50% {
      transform: translate(40px, 20px);
    }

    100% {
      transform: translate(270px, 20px);
    }
  }

  @keyframes moveX4 {
    0% {
      transform: translate(40px, 180px);
    }

    50% {
      transform: translate(270px, 180px);
    }

    100% {
      transform: translate(40px, 180px);
    }
  }

  @keyframes moveX5 {
    0% {
      transform: translate(270px, 5px);
    }
  
    50% {
      transform: translate(40px, 5px);
    }
  
    100% {
      transform: translate(270px, 5px);
    }
  }

  @keyframes moveX6 {
    0% {
      transform: translate(40px, 110px);
    }
  
    50% {
      transform: translate(270px, 110px);
    }
  
    100% {
      transform: translate(40px, 110px);
    }
  }

  .icon-moveX1 {
    /* display:none */
    animation: moveX1 20s infinite;
  }
  .icon-moveX2 {
    animation: moveX2 20s infinite;
  }

  .icon-moveX3 {
    animation: moveX3 20s infinite;
  }

  .icon-moveX4 {
    /* display:none; */
    animation: moveX4 20s infinite;
  }

  .icon-moveX5 {
    animation: moveX5 20s infinite;
  }

  .icon-moveX6 {
    display:none;
    /* animation: moveX6 20s infinite; */
  }

  .icon-moveY1 {
    animation: moveY1 20s infinite;
  }
  .icon-moveY2 {
    animation: moveY2 20s infinite;
  }

  .icon-moveY3 {
    display: none;
    /* animation: moveY3 5s infinite; */
  }

  .icon-moveY4 {
    display: none;
    /* animation: moveY4 5s infinite; */
  }
}

@media (max-width: 995px) {

  @keyframes moveX1 {
    0% {
      transform: translate(55px);
    }

    50% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(55px);
    }
  }
  @keyframes moveX2 {
    0% {
      transform: translate(600px);
    }
    50% {
      transform: translate(55px);
    }
    100% {
      transform: translate(600px);
    }
  }

  @keyframes moveY1 {
    0% {
      transform: translate(680px, 100px);
    }
  
    50% {
      transform: translate(680px, 10px);
    }
  
    100% {
      transform: translate(680px, 100px);
    }
  }

  @keyframes moveY2 {
    0% {
      transform: translate(40px, 10px);
    }
    50% {
      transform: translate(40px, 100px);
    }
    100% {
      transform: translate(40px, 10px);
    }
  }
  
  @keyframes moveX4 {
    0% {
      transform: translate(20px, 180px);
    }
  
    50% {
      transform: translate(620px, 180px);
    }
  
    100% {
      transform: translate(20px, 180px);
    }
  }
  
  @keyframes moveX5 {
    0% {
      transform: translate(670px, 5px);
    }
  
    50% {
      transform: translate(10px, 5px);
    }
  
    100% {
      transform: translate(670px, 5px);
    }
  }
  
  @keyframes moveX6 {
    0% {
      transform: translate(10px, 110px);
    }
  
    50% {
      transform: translate(670px, 110px);
    }
  
    100% {
      transform: translate(10px, 110px);
    }
  }

}


